---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Services from "../pages/Services.astro";
import Home from "../pages/Home.astro";
---

<Layout title="Cultour Costa Rica | A Costarrican Experience">
	<Header />
	<main >
		<Home></Home>
		<Services></Services>
	</main>
	<footer>

	</footer>
</Layout>

<style>
	
</style>
