<header id="cultour-header" class="header-box fixed-header">
    <section id="cultour-logo">
        <img class="logo" src="logo.png" alt="Costa Rica Flag" width="100%" />
        <img class="cr-flag" src="cr-flag.gif" alt="Costa Rica Flag" width="18%" />
    </section>

    <div id="hamburger-menu">
        <img src="hamburger.svg" alt="Hamburger Menu Icon SVG">
    </div>
    <div id="cultour-nav">
        <nav class="center cultour-nav" >
            <a class="nav-box center" href="#home">Home</a>
            <a class="nav-box center" href="#tours">Tours</a>
            <a class="nav-box center" href="#gallery">Gallery</a>
            <a class="nav-box center" href="#contact">Contact</a>
            <section class="nav-box center">
                <img src="translate.svg" alt="">
                <img src="down-arrow.svg" alt="">
            </section>
        </nav>
    </div>
</header>

<script>
    const logo = document.getElementById("cultour-logo")!;
    const header = document.getElementById("cultour-header")!;
    const miDiv = document.getElementById("cultour-nav")!;
    const hamburger = document.getElementById("hamburger-menu")!;

    const windowWidth = window.innerWidth || document.documentElement.clientWidth;
    const maxWindowSize = 820;

    const isMobileScreen = windowWidth > maxWindowSize;
    const logoMaxSize = (isMobileScreen) ? "175px" : "120px";
    const logoMinSize = (isMobileScreen) ? "100px" : "95px";

    miDiv.style.display = (isMobileScreen) ? "flex" : "none";
    
    window.addEventListener("scroll", () => {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            // Adjust the smaller size as needed
            logo.style.width = logoMinSize;
            header.classList.add("blur-header");
        } else {
            // Initial logo size when not scrolled
            logo.style.width = logoMaxSize;
            header.classList.remove("blur-header");
        }
    });

    
    hamburger.addEventListener("click", function() {
        miDiv.style.display = (miDiv.style.display ===  'none' || miDiv.style.display ===  '') 
        ? "flex" : "none";
    });

</script>

<style>

    .header-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
        padding: 0 3%;
    }

    .blur-header {
        backdrop-filter: blur(8px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: backdrop-filter 0.5s ease-in-out;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
    }

    #cultour-logo {
        position: relative;
        width: 175px;
        transition: width 0.5s ease;

        & .logo {
            filter: drop-shadow(0 0 15px rgb(1, 1, 1, 1));
        }
        & .cr-flag {
            position: absolute;
            bottom: 6px;
            right: 8px;
            filter: blur(0.2px) drop-shadow(0 0 10px rgb(1, 1, 1, 0.8));
        }
    }

    .cultour-nav {
        gap: 5px;
        height: 60px;

        & a {
            text-decoration: none;
            color: var(--text-color);
            font-size: 19px;
            font-weight: 500;
        }

        & .nav-box {
            align-self: center;
            height: 35px;
            padding: 0 30px;
        }
    }

    #hamburger-menu {
        position: absolute;
        right: 10px;
        user-select: none;
        transition: 0.4s transform ease;
        display: none;
    }

    #hamburger-menu:active {
        transform: scale(1.1);
    }

    .nav-box:hover {
        border-radius: 5% / 10%;
        outline: 2px solid #ffffffac;
        transition: color 0.2s ease;
        color: black;
    }

    @media screen and (max-width: 768px) {

        .cultour-nav {
            position: absolute;
            flex-direction: column;
            width: 320px;
            height: 400px;
            top: 75px;
            right: 20px;
            backdrop-filter: blur(50px);
            gap: 0;

            & a {
                font-size: 35px;
            }

            & .nav-box {
                justify-content: left;
                border: solid 1px rgba(255, 255, 255, 0.298);
                width: 100%;
                height: 100%;
            }
            
            & .nav-box:hover {
                border-radius: 0;
            }
        }
        
        #hamburger-menu {
            display: block;
        }

        #cultour-logo {
            width: 120px;
        }
    }
</style>
