---
// Supports weights 100-900
import '@fontsource-variable/jost';
import '@fontsource/elsie-swash-caps';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Authors -->
		<meta name="copyright" content="Cultour Costa Rica">
		<meta name="author" content="Ronald Herrera Gámez">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	*, *::before, *::after {
		margin: 0;
		box-sizing: border-box;
	}

	a, li {
		text-decoration: none;
	}

	:root {
		--text-color: #eef3fc;
	}

	html {
		font-family: 'Jost Variable', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background-color: #141311;
		background: linear-gradient(to right, #141314 50%, #141311 110%);
		color: var(--text-color);
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.elsie-swash {
		font-family: "Elsie Swash Caps", serif;
		font-weight: 500;
	}

	/* Scroll bar */
/* 
	body {
		scrollbar-color: var(--theme-color) #555555;
	}

	body::-webkit-scrollbar {
		width: 10px;
	}

	body::-webkit-scrollbar-thumb {
		background-color: #2d2d2d;
	}

	body::-webkit-scrollbar-track {
		background-color: var(--theme-color);
	} */
</style>
